.delete-icon{
    float: right;
    font-size: 1em;
}
.worditem{
    padding-left: 0.5em;
    text-align: left;
    margin-bottom: 0.5em;
}

.Nt{
    background-color: #e8e8e8;
}
.Nm{
    background-color: #aecee8;
}
.Nf{
    background-color: #ffcefe;
}
.Npl{
    background-color: #f8ff61;
}
.Verb{
    background-color: #b6d7a8;
}
.Adv{
    background-color: #d8563b;
}
.Pron{
    background-color: #ae90c2;
}
.PP{
    background-color: #AAA;
}
.Konj{
    background-color: #F2FA11;
}
.Adj{
    background-color: #97C45C;
}

.item-list{
    width: 45em;
}
label:{
    margin-right: 1em;
}
.badge{
    margin-right: 0.2em;
}

.searchlink{
    color: #000;
    text-decoration: none;
    margin-right: 0.5em;
}
.searchlink:hover{
    color: #000;
    font-weight: bolder;
    text-decoration: none;
}