.delete-icon{
    padding-left: 4em;
}
.worditem{
    padding:0.5em;
    margin: 1.5em;
    width: 8em;
    height: 8em;
    float: left;
}

.Nt{
    background-color: #e8e8e8;
}
.Nm{
    background-color: #aecee8;
}
.Nf{
    background-color: #ffcefe
}
.Npl{
    background-color: #f8ff61;
}
.Verb{
    background-color: #b6d7a8;
}
.Adv{
    background-color: #d8563b;
}
.Pron{
    background-color: #ae90c2;
}
.PP{
    background-color: #FFF;
}

.item-list{
    width: 30em;
}
.searchcontrol input:{
    margin-right: 1em;
}
.badge{
    margin-right: 0.2em;
}